<h4>Dashboard Navigation</h4>
  <ul >
    <li><a ui-sref="dashboard.myPosts">My Posts</a></li>
    <li><a ui-sref="dashboard.writePost">Write Post</a></li>
  </ul>
  <!-- dashboard ui view -->
  <div ui-view></div>