<h2>Write a New Post Dashboard View</h2>

<input type="text" name="firstname">
<div ng-controller="PostNewCtrl">
	

<textarea ng-model="content" name="content" id="content" cols="30" rows="10"></textarea>
<div ng-click="savePost()"></div>

</div>