<h1><%= current_user.first_name %>'s Show Page</h1>

<h3>My Information</h3>
<p>Name: <%= current_user.first_name %></p>
<p>Email: <%= current_user.email %></p>

<p>
	 <% unless !@user_posts %>
	 <h3>My Posts</h3>
	 	<% @user_posts.each do |post| %>
		<p>
			Title: <%= post.title %>
		</p>
	 	<% end %>
	 <% end %>

</p>