<h1><%= current_user.first_name %>'s Profile</h1>

<h3>View information about logged in user</h3>
<p>Name: <%= current_user.first_name %></p>
<p>Email: <%= current_user.email %></p>


<p>Find me in app/views/users/show.html.erb</p>


<%= link_to "new post", new_user_post_path(:user_id) %>