
<h2>Post Index</h2>


  <% if !current_user %>
  	<p>Sign up to get started.</p>
  	<p>
    	<%= link_to new_user_path do %>
      Sign Up &raquo;
  	  <% end %>
  	</p>
  <% end %>
  


  <% if current_user %>
    <div class="page-header"><h3>Welcome back  <%= current_user.email %>!</h3></div>
  <% end %>
